<a href="https://colab.research.google.com/github/nanutnutna/data_practice/blob/master/data_p1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First project try to clean data 
ของ covid-19 แต่ละราย

In [0]:
# เพื่อจะใช้ดึงข้อมูลมาจากลิ้งค์
import requests

In [0]:
url = 'https://covid19.th-stat.com/api/open/cases'
use  = requests.get(url)

In [0]:
convert_json = use.json()
type(convert_json)

dict

In [0]:
data = convert_json['Data']
type(data)

list

In [0]:
# เพื่อแสงค่าของตัวแปร data ในรูป dataframe
import pandas as pd

In [0]:
# จะได้ข้อมูลที่ต้องการอยู่ใน dataframe แล้ว 
df = pd.DataFrame(data)
df

              ConfirmDate    No   Age  ... District     ProvinceEn Detail
0     2020-04-29 00:00:00  2944  39.0  ...                 Bangkok   None
1     2020-04-29 00:00:00  2943  57.0  ...  คลองสาน        Bangkok   None
2     2020-04-29 00:00:00  2939   8.0  ...    เมือง        Bangkok   None
3     2020-04-29 00:00:00  2946  22.0  ...            Samut Prakan   None
4     2020-04-29 00:00:00  2945  30.0  ...            Samut Prakan   None
...                   ...   ...   ...  ...      ...            ...    ...
2942  2020-01-24 00:00:00     5  66.0  ...              Nonthaburi   None
2943  2020-01-22 00:00:00     4  68.0  ...                 Bangkok   None
2944  2020-01-22 00:00:00     3  73.0  ...    เมือง  Nakhon Pathom   None
2945  2020-01-17 00:00:00     2  74.0  ...                 Bangkok   None
2946  2020-01-12 00:00:00     1  61.0  ...                 Bangkok   None

[2947 rows x 12 columns]

In [0]:
# รายละเอียดของ columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2947 entries, 0 to 2946
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ConfirmDate  2947 non-null   object
 1   No           2947 non-null   object
 2   Age          2947 non-null   float64
 3   Gender       2947 non-null   object
 4   GenderEn     2947 non-null   object
 5   Nation       2947 non-null   object
 6   NationEn     2941 non-null   object
 7   Province     2947 non-null   object
 8   ProvinceId   2947 non-null   int64
 9   District     2947 non-null   object
 10  ProvinceEn   2947 non-null   object
 11  Detail       0 non-null      object
dtypes: float64(1), int64(1), object(10)
memory usage: 276.4+ KB

In [0]:
# ดูความผิดปกติของข้อมูลจะเห็นว่า Age มีความผิดปกติอยู่คือ min = 0 แต่ในที่นี้อาจจะแปลว่าไม่ทราบอายุก็เป็นได้ จริงๆต้องดู data dictionary นะ 
df.describe()

               Age  ProvinceId
count  2947.000000  2947.00000
mean     38.985545    19.42416
std      15.789462    23.13859
min       0.000000     1.00000
25%      27.000000     1.00000
50%      37.000000     1.00000
75%      50.000000    42.00000
max      99.000000    78.00000

เริ่ม data cleansing

In [0]:
# เริ่มจาก ConfirmDate ลบ เวลาออก ให้เหลือแต่วันที่
new_date = [date.split()[0] for date in df['ConfirmDate']]
df_1 = df.drop(columns='ConfirmDate')
df_1['Date'] = new_date

In [0]:
df_1

        No   Age Gender GenderEn  ... District     ProvinceEn Detail        Date
0     2944  39.0    ชาย     Male  ...                 Bangkok   None  2020-04-29
1     2943  57.0   หญิง   Female  ...  คลองสาน        Bangkok   None  2020-04-29
2     2939   8.0   หญิง   Female  ...    เมือง        Bangkok   None  2020-04-29
3     2946  22.0   หญิง   Female  ...            Samut Prakan   None  2020-04-29
4     2945  30.0   หญิง   Female  ...            Samut Prakan   None  2020-04-29
...    ...   ...    ...      ...  ...      ...            ...    ...         ...
2942     5  66.0   หญิง   Female  ...              Nonthaburi   None  2020-01-24
2943     4  68.0    ชาย     Male  ...                 Bangkok   None  2020-01-22
2944     3  73.0   หญิง   Female  ...    เมือง  Nakhon Pathom   None  2020-01-22
2945     2  74.0   หญิง   Female  ...                 Bangkok   None  2020-01-17
2946     1  61.0   หญิง   Female  ...                 Bangkok   None  2020-01-12

[2947 rows x 12 columns]

In [0]:
#drop coloumn ที่คล้ายกันถึงเพื่อลดขนาดตารางลง
df_2 = df_1.drop(columns=['Gender','Nation','ProvinceEn'])
df_2

        No   Age GenderEn NationEn  ... ProvinceId  District Detail        Date
0     2944  39.0     Male     Thai  ...          1             None  2020-04-29
1     2943  57.0   Female     Thai  ...          1   คลองสาน   None  2020-04-29
2     2939   8.0   Female     Thai  ...          1     เมือง   None  2020-04-29
3     2946  22.0   Female     Thai  ...         60             None  2020-04-29
4     2945  30.0   Female     Thai  ...         60             None  2020-04-29
...    ...   ...      ...      ...  ...        ...       ...    ...         ...
2942     5  66.0   Female  Chinese  ...         24             None  2020-01-24
2943     4  68.0     Male  Chinese  ...          1             None  2020-01-22
2944     3  73.0   Female     Thai  ...         19     เมือง   None  2020-01-22
2945     2  74.0   Female  Chinese  ...          1             None  2020-01-17
2946     1  61.0   Female  Chinese  ...          1             None  2020-01-12

[2947 rows x 9 columns]

In [0]:
#เติมช่องว่างใน District เป็น -1 แทนสิ่งที่ไม่ทราบ
new_district = ['-1' if district == '' else district for district in df_2['District']]
#print(new_district,end='')

In [0]:
df_3 = df_2.drop(columns='District')
df_3['District'] = new_district
df_3

        No   Age GenderEn NationEn  ... ProvinceId  Detail        Date District
0     2944  39.0     Male     Thai  ...          1    None  2020-04-29       -1
1     2943  57.0   Female     Thai  ...          1    None  2020-04-29  คลองสาน
2     2939   8.0   Female     Thai  ...          1    None  2020-04-29    เมือง
3     2946  22.0   Female     Thai  ...         60    None  2020-04-29       -1
4     2945  30.0   Female     Thai  ...         60    None  2020-04-29       -1
...    ...   ...      ...      ...  ...        ...     ...         ...      ...
2942     5  66.0   Female  Chinese  ...         24    None  2020-01-24       -1
2943     4  68.0     Male  Chinese  ...          1    None  2020-01-22       -1
2944     3  73.0   Female     Thai  ...         19    None  2020-01-22    เมือง
2945     2  74.0   Female  Chinese  ...          1    None  2020-01-17       -1
2946     1  61.0   Female  Chinese  ...          1    None  2020-01-12       -1

[2947 rows x 9 columns]

In [0]:
# ต่อคือ Provice ถ้า ไม่พอข้อมูลในที่นี้จะเปลี่ยนเป็น -1
for i in df_3['Province'] :
  if i == 'ไม่พบข้อมูล' :
    print(i,end=' ')

ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล ไม่พบข้อมูล

In [0]:
new_province = ['-1' if province == 'ไม่พบข้อมูล' else province for province in df_3['Province']]
#print(new_province,end='')

In [0]:
df_4 = df_3.drop(columns='Province')
df_4['Province'] = new_province
df_4

        No   Age GenderEn NationEn  ...  Detail        Date District       Province
0     2944  39.0     Male     Thai  ...    None  2020-04-29       -1  กรุงเทพมหานคร
1     2943  57.0   Female     Thai  ...    None  2020-04-29  คลองสาน  กรุงเทพมหานคร
2     2939   8.0   Female     Thai  ...    None  2020-04-29    เมือง  กรุงเทพมหานคร
3     2946  22.0   Female     Thai  ...    None  2020-04-29       -1    สมุทรปราการ
4     2945  30.0   Female     Thai  ...    None  2020-04-29       -1    สมุทรปราการ
...    ...   ...      ...      ...  ...     ...         ...      ...            ...
2942     5  66.0   Female  Chinese  ...    None  2020-01-24       -1        นนทบุรี
2943     4  68.0     Male  Chinese  ...    None  2020-01-22       -1  กรุงเทพมหานคร
2944     3  73.0   Female     Thai  ...    None  2020-01-22    เมือง         นครปฐม
2945     2  74.0   Female  Chinese  ...    None  2020-01-17       -1  กรุงเทพมหานคร
2946     1  61.0   Female  Chinese  ...    None  2020-01-12       -1  กรุงเทพมหานคร

[2947 rows x 9 columns]

In [0]:
#ต่อมาคือ Age ขอเปลี่ยนค่าที่น้อยกว่า 2 เป็น -1 
new_age = [-1 if age <= 2 else age for age in df_4['Age']] 
#print(new_age,sep= '')

In [0]:
df_5 = df_4.drop(columns='Age')
df_5['Age'] = new_age
df_5

        No GenderEn NationEn  ...  District       Province   Age
0     2944     Male     Thai  ...        -1  กรุงเทพมหานคร  39.0
1     2943   Female     Thai  ...   คลองสาน  กรุงเทพมหานคร  57.0
2     2939   Female     Thai  ...     เมือง  กรุงเทพมหานคร   8.0
3     2946   Female     Thai  ...        -1    สมุทรปราการ  22.0
4     2945   Female     Thai  ...        -1    สมุทรปราการ  30.0
...    ...      ...      ...  ...       ...            ...   ...
2942     5   Female  Chinese  ...        -1        นนทบุรี  66.0
2943     4     Male  Chinese  ...        -1  กรุงเทพมหานคร  68.0
2944     3   Female     Thai  ...     เมือง         นครปฐม  73.0
2945     2   Female  Chinese  ...        -1  กรุงเทพมหานคร  74.0
2946     1   Female  Chinese  ...        -1  กรุงเทพมหานคร  61.0

[2947 rows x 9 columns]

In [0]:
#ดูรายละเอียดของ Detail
#for i in df_5['Detail']:
#  print(i,end=' ')

In [0]:
#ไม่มีรายละเอียดอะไร drop เลยจ้าาา
df_6 = df_5.drop(columns='Detail')

In [0]:
#มาดูที่รายละเอียด ProvinceId
#for i in df_6['ProvinceId']:
 # print(i,end=' ')

# โอเค++++++

In [0]:
#ต่อมาคือ NationEn มี Unknown เปลี่ยนเป็น -1
#for i in df_6['NationEn']:
#  print(i,end=' ')

In [0]:
new_nation = ['-1' if nation == 'Unknown' else nation for nation in df_6['NationEn']] 
#print(new_nation,end='')

In [0]:
df_7 = df_6.drop(columns='NationEn')
df_7['NationEn'] = new_nation
df_7

        No GenderEn  ProvinceId  ...       Province   Age NationEn
0     2944     Male           1  ...  กรุงเทพมหานคร  39.0     Thai
1     2943   Female           1  ...  กรุงเทพมหานคร  57.0     Thai
2     2939   Female           1  ...  กรุงเทพมหานคร   8.0     Thai
3     2946   Female          60  ...    สมุทรปราการ  22.0     Thai
4     2945   Female          60  ...    สมุทรปราการ  30.0     Thai
...    ...      ...         ...  ...            ...   ...      ...
2942     5   Female          24  ...        นนทบุรี  66.0  Chinese
2943     4     Male           1  ...  กรุงเทพมหานคร  68.0  Chinese
2944     3   Female          19  ...         นครปฐม  73.0     Thai
2945     2   Female           1  ...  กรุงเทพมหานคร  74.0  Chinese
2946     1   Female           1  ...  กรุงเทพมหานคร  61.0  Chinese

[2947 rows x 8 columns]

In [0]:
# จัดรูปแบบตารางใหม่
final_df = df_7[['No','Date','Age','GenderEn','NationEn','Province','District','ProvinceId']]
final_df

        No        Date   Age  ...       Province District ProvinceId
0     2944  2020-04-29  39.0  ...  กรุงเทพมหานคร       -1          1
1     2943  2020-04-29  57.0  ...  กรุงเทพมหานคร  คลองสาน          1
2     2939  2020-04-29   8.0  ...  กรุงเทพมหานคร    เมือง          1
3     2946  2020-04-29  22.0  ...    สมุทรปราการ       -1         60
4     2945  2020-04-29  30.0  ...    สมุทรปราการ       -1         60
...    ...         ...   ...  ...            ...      ...        ...
2942     5  2020-01-24  66.0  ...        นนทบุรี       -1         24
2943     4  2020-01-22  68.0  ...  กรุงเทพมหานคร       -1          1
2944     3  2020-01-22  73.0  ...         นครปฐม    เมือง         19
2945     2  2020-01-17  74.0  ...  กรุงเทพมหานคร       -1          1
2946     1  2020-01-12  61.0  ...  กรุงเทพมหานคร       -1          1

[2947 rows x 8 columns]

In [0]:
# save to csv
final_df.to_csv('data cleansing')

จบแล้วค้าบบบบบ โดยหลังจากทำเสร็จอาจจะเอาไปเก็บไว้ใน data lake หรือ data warehouse ก็แล้วแต่